*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(17, 16, 16, 0.788);
}
.contraner{
    width: 500px;
    margin:15%  auto;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: aqua;
    border-radius: 10pc;
    border:3px solid black;

}

span{
    width: 5px;
    height: 50px;
    background-color:white;
    border-radius: 10px;
    animation: leading infinite linear 3s;
}
@keyframes leading{
    0%{
        transform: scale(0) translateX(-100px);
        opacity: 0;
       
    }
    100%{
       transform: scale(1) translateX(100px);
       opacity: 1;
    }
}
.span1 {
    animation-delay: 1s;
    background-color: blue;
}
.span2{
    animation-delay: 2s;
    background-color: red;
}
.span3{
    animation-delay: 2.5s;
    background-color: green;
}
.span4 {
    animation-delay: 3s;
    background-color: yellow;
}
.span5 {
    animation-delay: 3.5s;
    background-color: purple;
}
.span6{
    animation-delay: 4s;
    background-color: brown;
}
.span7 {
    animation-delay: 4.5s;
    background-color: lime;
}
.span2 {
    animation-delay: 5s;
}